body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-variant: small-caps;
  margin-bottom: 16px;
}

.photo-box {
  flex: 1;
  min-width: calc(33.333% - 16px); /* Default: Three per row */
  height: 266px; /* 3:2 ratio */
  margin: 8px;
  cursor: pointer;
  position: relative;
}

.photo-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px) {
  .photo-box {
    min-width: calc(50% - 16px); /* Two per row */
  }
}

@media (max-width: 850px) {
  .photo-box {
    min-width: calc(100% - 16px); /* One per row */
  }
}
